
@media all and (min-width:900px) and (max-width:1400px){
#navbar{
    width: 100vw;
    height: 70px;
}
}
@media all and (min-width:600px) and (max-width:899px){
#navbar{
    width: 100vw;
    height: 60px;
}

}
@media all and (min-width:10px) and (max-width:599px){
#navbar{
    width: 100vw;
    height: 50px;
}
}